<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Registration</title>
</head>

<body style="background-color: aqua;">
	<!-- nothing -->
	<h1>Registration Form</h1>
	<hr>
	<form action="register" method="post">
		<label for="fristname">Frist Name:</label><br>
		<input type="text" name="fname"><br>

		<label for="lastname">Last Name:</label><br>
		<input type="text" name="lname"><br>

		<label for="email">EMail:</label><br>
		<input type="text" name="email"><br>

		<label for="password">Password:</label><br>
		<input type="password" name="passwd"><br>

		<label for="dob">Date of brith:</label><br>
		<input type="date" name="dob"><br>

		<label for="gender">gender:</label><br>
		<select name="gender">
			<option value="">Gender</option>
			<option value="male">Male</option>
			<option value="female">Female</option>
			<br><br>

		</select>
		<br>
		<button type="submit">Click Me!</button>
	</form>
</body>

</html>